html {
    font-size: 10px;
}

body {
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

.navi {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    color: #FFFCFC;
    display: flex;
    align-items: center;
    justify-self: center;
    list-style: none;
}

ul {
    padding: 0;
}

.navi_item {
    padding: 0 3rem;
}

.navi_item:hover {
    color: gold;
    cursor: pointer;
    transition: all 400ms;
}

.navi_item:active {
    font-size: larger;
    transition: all 400ms;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    margin-top: 7.1rem;
    width: 100%;
}

.box_1 {
    display: flex;
    flex-direction: column;
    animation: animationName_1 2s alternate forwards 0s;
    transition: all;
}

.box_2 {
    display: flex;
    flex-direction: column;
    animation: animationName_2 2s alternate forwards 0s;
    transition: all;
}

.box_3 {
    animation: animationName_3 3s alternate forwards 0s;
    transition: all;
    margin-right: 7.2rem;
}

.box_4 {
    animation: animationName_4 3s alternate forwards 0s;
    transition: all;
    margin-left: 7.2rem;
}

.box_1 .box_item,
.box_2 .box_item {
    margin: 0 0.9rem 4.2rem 0.9rem;
}

@keyframes animationName_1 {
    from {
        transform: translateX(-100vw);
    }
}

@keyframes animationName_2 {
    from {
        transform: translateX(200vw);
    }
}

@keyframes animationName_3 {
    from {
        transform: translateX(-200vw);
    }
}

@keyframes animationName_4 {
    from {
        transform: translateX(300vw);
    }
}

.services {
    margin-top: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.col_1 {
    display: flex;
    flex-direction: column;
    margin-right: 3.5rem;
}

.row_1,
.row_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.serv_item1,
.serv_item2,
.serv_item3,
.serv_item4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 4.8rem;
    color: #000000;
    padding: 6rem;
}

.col_2 img {
    padding-left: 10rem;
}

.serv_item1 {
    animation: animate_1 5s linear infinite;
}

.serv_item2 {
    animation: animate_2 5s linear infinite;
}

.serv_item3 {
    animation: animate_3 5s linear infinite;
}

.serv_item4 {
    animation: animate_4 5s linear infinite;
}

@keyframes animate_1 {
    25% {
        transform: translate(100%, 0);
    }

    50% {
        transform: translate(100%, 100%);
    }

    75% {
        transform: translate(0, 100%);
    }
}

@keyframes animate_2 {
    25% {
        transform: translate(0, 100%);
    }

    50% {
        transform: translate(-100%, 100%);
    }

    75% {
        transform: translate(-100%, 0);
    }
}

@keyframes animate_3 {
    25% {
        transform: translate(0, -100%);
    }

    50% {
        transform: translate(100%, -100%);
    }

    75% {
        transform: translate(100%, 0);
    }
}

@keyframes animate_4 {
    25% {
        transform: translate(-100%, 0);
    }

    50% {
        transform: translate(-100%, -100%);
    }

    75% {
        transform: translate(0, -100%);
    }
}

.team {
    width: 100%;
    margin-top: 14.2rem;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 9.6rem;
    line-height: 11.6rem;
    text-align: center;
    color: #000000;
}

.members,
.membcol_1,
.membcol_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.meredith {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 6.2rem;
    color: #FFFAFA;
    background-image: url(../img/meredith.png);
    background-repeat: no-repeat;
    width: 40.4rem;
    height: 67.7rem;
    display: flex;
    flex-direction: column-reverse;
    margin: 5.1rem 5rem 0 5rem;
}

.jason {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 6.2rem;
    color: #FFFAFA;
    background-image: url(../img/jason.png);
    background-repeat: no-repeat;
    width: 39.2rem;
    height: 67.7rem;
    display: flex;
    flex-direction: column-reverse;
    margin: 5.1rem 5rem 0 5rem;
}

.ryan {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 6.2rem;
    color: #FFFAFA;
    background-image: url(../img/ryan.png);
    background-repeat: no-repeat;
    width: 40rem;
    height: 67.7rem;
    display: flex;
    flex-direction: column-reverse;
    margin: 5.1rem 5rem 0 5rem;
}

.james {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 6.2rem;
    color: #FFFAFA;
    background-image: url(../img/james.png);
    background-repeat: no-repeat;
    width: 39.6rem;
    height: 67.7rem;
    display: flex;
    flex-direction: column-reverse;
    margin: 5.1rem 5rem 0 5rem;
}

.meredith div,
.jason div,
.ryan div,
.james div {
    opacity: 0;
    background: rgba(163, 83, 10, 0.7);
    transform: matrix(1, 0, 0, 1, 0, 0);
    height: 15.5rem;
    border-radius: 0 0 4rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meredith:hover div,
.jason:hover div,
.ryan:hover div,
.james:hover div {
    opacity: 1;
    transition: all 0.6s;
}

.contact_us {
    margin-top: 20rem;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
}

form {
    background-color: #E5E5E5;
    margin-top: 2rem;
}

.h1 {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.8rem;
    text-align: center;
    color: #000000;
    width: 75%;
    padding-left: 1rem;
}

.name,
.email {
    display: inline-block;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.4rem;
    color: rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 8rem;
    margin: 4%;
    padding-left: 1rem;
}

.message {
    display: block;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.4rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 4% 4% 4%;
    width: 90%;
    padding-left: 1rem;
}

.map {
    width: 63rem;
    height: 62rem;
    margin-left: 5rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7.4rem 0 5rem 0;
}

.footcol_1,
.footcol_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.6rem;
    color: #000000;
    margin-right: 10rem;
}

.footcol_1 a {
    text-decoration: none;
    color: #000000;
}

.footcol_1 span,
.footcol_3 span {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.6rem;
    color: #000000;
}

.footcol_2 span {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.4rem;
    color: #000000;
}

.footcol_3 {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4rem;
    color: #000000;
    margin-left: 5rem;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 5rem;
}

.social span {
    padding-left: 2rem;
}

.social a {
    text-decoration: none;
    color: #000000;
}

.footer a:hover {
    color: blue;
    transition: all 400ms;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .gallery {
        flex-direction: column;
    }

    .box_1 div:nth-child(1),
    .box_2 div:nth-child(1),
    .box_4 {
        animation: animationName_2 2s alternate forwards 0s;
        transition: all;
        margin: 0 auto;
        padding: 0 auto;
    }

    .box_1 div:nth-child(2),
    .box_2 div:nth-child(2),
    .box_3 {
        animation: animationName_1 2s alternate forwards 0s;
        transition: all;
        margin: 2rem auto;
        padding: 0 auto;
    }

    .navi {
        font-size: 1.8rem;
    }

    .navi_item {
        padding: 0 1rem;
    }

    .services .col_2 {
        display: none;
    }

    .col_1 {
        margin: 5rem 0;
    }

    .serv_item1,
    .serv_item2,
    .serv_item3,
    .serv_item4 {
        padding: 2rem;
    }

    .members,
    .membcol_1,
    .membcol_2 {
        flex-direction: column;
    }

    .meredith:active div,
    .jason:active div,
    .ryan:active div,
    .james:active div {
        opacity: 1;
        transition: all 4s;
    }

    .contact_us {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .footcol_1,
    .footcol_2,
    .footcol_3 {
        margin: 5rem 0 5rem 0;
    }
}

@media screen and (min-width: 770px) and (max-width: 992px) {
    .navi {
        font-size: 1.8rem;
    }

    .navi_item {
        padding: 0 2rem;
    }

    .gallery {
        display: inline-block;
    }

    .box_1,
    .box_2 {
        display: inline-block;
        margin: 2rem auto;
    }

    .box_3 {
        animation: animationName_1 2s alternate forwards 0s;
        margin: 2rem 10rem;
    }

    .box_4 {
        position: absolute;
        top: 22rem;
        right: 13rem;
        animation: animationName_2 2s alternate forwards 0s;
    }

    .services {
        flex-direction: column-reverse;
    }

    .col_2 img {
        padding: 0;
    }

    .col_1 {
        margin: 0;
        padding: 0;
    }

    .members {
        flex-direction: column;
    }

    .meredith:hover div,
    .jason:hover div,
    .ryan:hover div,
    .james:hover div {
        transition: all 4s;
    }

    .contact_us {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
    }

    .h1 {
        width: 100%;
        padding: 0;
    }

    .form {
        margin-left: 0;
    }

    .map {
        margin: 5rem 0;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .footcol_1,
    .footcol_2,
    .footcol_3 {
        margin: 5rem 0 5rem 0;
    }

    .adapt {
        display: flex;
        flex-direction: column-reverse;
    }
}