body {
    margin: 0 auto;
    background-color: #ECECEC;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.nav-item {
    margin: 20px 0;
}

.nav-link1,
.nav-link2 {
    background: #EF781A;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 15px 20px;
    margin-right: 30px;
}

.navbar-nav {
    margin-left: 300px;
}

.nav-link2 {
    background: #00D008;
}

.d-flex {
    margin-left: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #A1A1A1;
}

.container-fluid {
    background-color: white;
}

.navbar {
    padding: 0;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    padding: 75px 0 30px 10px;
    background-color: white;
}

.nav {
    margin: 25px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.nav-link {
    color: #7B7B7B;
}

.nav-link:hover {
    color: #343434;
    padding: 6px 8px;
    background-color: #C4C4C4;
    border-radius: 10px;
    transition: all 1s;
    display: flex;
    align-items: center;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-left: 10px;
    margin-bottom: 35px;
}

h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.card-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #A2A2A2;
}

.row {
    width: 90%;
}

.price {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    position: relative;
}

.buy {
    display: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    background-color: #FF6C01;
    border-radius: 10px;
    padding: 10px 23px;
    position: absolute;
    bottom: 13px;
    border: none;
}

.card:hover .buy {
    display: inline-block;
    transition: all 1s;
}

svg:hover,
path:hover {
    fill: #69A042;
    stroke: #69A042;
}

#two,
#three,
.about {
    margin-top: 35px;
}

.shopping-cart {
    width: 400px;
    height: 325px;
    margin: 350px auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #000000;
}

.grid {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    gap: 30px 35px;
    padding-top: 25px;
    padding-left: 30px;
}

.title {
    font-size: 18px;
    line-height: 22px;
    grid-column: 1/4;
    grid-row: 1;
}

.description {
    grid-column: 1;
    grid-row: 2;
}

.description span {
    font-size: 14px;
    color: #000000;
}

.description ul {
    font-size: 12px;
    color: #979797;
    padding-left: 15px;
    margin: 0;
}

.quantity {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}

.quantity input {
    border: none;
    text-align: center;
    width: 27px;
    color: #000000;
    font-size: 18px;
    line-height: 22px;
}

.quantity button[class*=btn] {
    width: 30px;
    height: 30px;
    font-size: 16px;
    background-color: #FF6C01;
    border-radius: 50%;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
}

.total-price_1 {
    text-align: center;
    font-size: 14px;
    color: #000000;
    grid-column: 3;
    grid-row: 2;
    justify-self: start;
}

.delivery {
    font-size: 14px;
    color: #000000;
    grid-column: 1/3;
    grid-row: 3;
}

.total-price_2 {
    text-align: center;
    font-size: 14px;
    color: #000000;
    grid-column: 3/4;
    grid-row: 3;
    justify-self: start;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #FF6C01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 30px 16px 25px 16px;
    text-decoration: none;
}

.info {
    width: 88%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 30px 0 15px 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.info_block {
    margin-bottom: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.info_block div:nth-child(1) {
    font-size: 14px;
    line-height: 17px;
    color: #999999;
    padding-bottom: 4px;
}

.info_block div:nth-child(2) {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-top: 4px;
}

.upper {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 5%;
    top: 90%;
}

.footer {
    width: 100%;
    height: 100px;
    background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20%;
}

.footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.footer li {
    padding: 0 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.social {
    display: flex;
}

.social a {
    padding: 0 9px;
}