html {
    background-color: beige;
}

body {
    margin: 0 auto;
}

.page {
    width: 750px;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgba(45, 112, 83, 1);
    height: 237px;
}

.circle_1 {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 37px;
}

.title {
    font-family: 'Assistant', sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    width: 134px;
    color: #FFFFFF;
    margin-left: 57px;
}

.stick {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 230px;
}

.stick .item {
    width: 100px;
    height: 15px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    margin: 6.5px;
}

.sect_1 {
    background-image:url(../img/fone-photo_1.png);
    background-repeat: no-repeat;
    height: 470px;
    text-align: center;
}

.btn_1 {
    font-family: 'Assistant', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(203, 146, 35, 1);
    padding: 20px 30px;
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    margin-top: 345px;
}

.btn_1:hover {
    cursor: pointer;
    color: black;
    background-color: red;
    transition: all 0.5s;
}

.btn_1:active {
    font-size: 22px;
}

.sect_2 {
    display: flex;
    align-items: center;
    padding-top: 56px;
    padding-left: 45px;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.photo {
    border-radius: 50%;
}

.text {
    padding-left: 68px;
}

.text_1 {
    font-size: 36px;
    margin-bottom: 29px;
}

.text_2 {
    font-size: 24px;
}

.sect_3 {
    width: 590px;
    padding-top: 46px;
    padding-left: 45px;
    font-family: 'Assistant', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.sect_4 {
    padding-top: 46px;
    padding-left: 45px;
    font-family: 'Assistant', sans-serif;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
}

.sect_5 {
    padding-top: 43px;
    padding-left: 45px;
    font-family: 'Assistant', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.sect_6 {
    text-align: center;
}

.btn_2 {
    font-family: 'Assistant', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(203, 146, 35, 1);
    padding: 20px 30px;
    display: inline-block;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 42px;
    margin-bottom: 47px;
}

.btn_2:hover {
    cursor: pointer;
    color: black;
    background-color: red;
    transition: all 0.5s;
}

.btn_2:active {
    font-size: 22px;
}

.footer {
    display: flex;
    align-items: center;
    background-color: rgba(136, 136, 136, 1);
    height: 156px;
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

.circle_2 {
    width: 99px;
    height: 99px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 44px;
}

.info_1 {
    margin-left: 160px;
}

.info_2 {
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.circle_2:hover {
    background-color: gold;
    transition: all 0.5s;
}

a:hover {
    color: blue;
    transition: all 0.5s;
}

.circle_1:hover {
    background-color: aqua;
    transition: all 0.5s;
}

.title:hover {
    color: violet;
    transition: all 0.5s;
}

.stick .item:hover {
    background-color: coral;
    transition: all 0.5s;
}