main {
    margin: 0 auto;
    background-color: #FFB084;
    border-radius: 20px;
    width: 755px;
}

.card {
    display: grid;
    grid-template-columns: 250px 190px 190px;
    padding: 27px 45px 33px 41px;
    gap: 14px 20px;
}

span {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.hug {
    padding: 15px 25px 30px 25px;
    background-color: #FFFFFF;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1/5;
    align-self: flex-start;
    justify-self: left;
    width: 200px;
}

h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    margin: 0;
}

.hug>div {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 14px;
}

.hug div:nth-child(7) {
    padding: 0;
}

.row_1 {
    display: flex;
}

img {
    width: 101px;
    height: 101px;
    align-self: center;
    padding: 17px 0;
}

h3 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}

.bio {
    grid-column: 2/4;
    grid-row: 1;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 15px 15px 15px 25px;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    align-self: flex-start;
    justify-self: left;
}

.bio>div {
    width: 360px;
    padding-top: 7px;
}

ul {
    padding-top: 7px;
    padding-left: 25px;
    margin: 0;
}

.goals {
    grid-column: 2;
    grid-row: 2;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 15px 25px 30px 25px;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #29A71E;
    border-radius: 20px;
    align-self: flex-start;
    justify-self: left;
}

.dream {
    grid-column: 2;
    grid-row: 3/5;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 15px 25px;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #3675B0;
    border-radius: 20px;
    align-self: flex-end;
    justify-self: left;
}

.frustr {
    grid-column: 3;
    grid-row: 2/4;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 15px 25px;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #E13535;
    border-radius: 20px;
    align-self: flex-start;
    justify-self: left;
}

.frustr>ul,
.dream>ul,
.goals>ul {
    width: 114px;
}

.person {
    grid-column: 3;
    grid-row: 4/5;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 15px 25px;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    align-self: flex-end;
    justify-self: left;
}

.person>div {
    width: 139px;
    padding-top: 7px;
}

.slog {
    grid-column: 1;
    grid-row: 4;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding: 15px 25px;
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    align-self: flex-end;
    justify-self: left;
}

.slog>div {
    width: 200px;
}