body {
    margin: 0 auto;
}

.page {
    width: 100%;
    height: 1899px;
    background-color: #DCDCDC;
}

.polygon {
    position: absolute;
    width: 34px;
    height: 33px;
    right: 14px;
    top: 18px;
}

.h1 {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    width: 100%;
    height: 140px;
    background-color: #C6C6DC;
    display: flex;
    align-items: center;
}

.h2 {
    position: absolute;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    width: 77%;
    height: 73px;
    background: #E8E8E8;
    box-sizing: border-box;
    padding: 18px;
    text-align: center;
    margin-left: 216px;
    margin-top: 56px;
}

.header {
    background-color: #202846;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
}

.logo {
    border-radius: 167px;
    padding-left: 138px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 31px;
    border-right: 5px solid #FFFFFF;
    height: 57px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 26px;
}

.globe {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 31px;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    text-align: center;
    padding: 0 63px 0 38px;
}

.card1 {
    position: relative;
    width: 77%;
    height: 300px;
    background-color: #BDBDC6;
    margin: 185px 215px 0 216px;
    display: flex;
}

.card2,
.card3,
.card4 {
    position: relative;
    width: 77%;
    height: 300px;
    background-color: #BDBDC6;
    margin: 36px 215px 0 216px;
    display: flex;
}

.card_img {
    width: 485px;
    height: 244px;
    padding-left: 103px;
    padding-top: 28px;
}

.card__title {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #353C57;
    padding-top: 27px;
    box-sizing: border-box;
}

.card__subtitle {
    width: 712px;
    height: 184px;
    background-color: #D7D7DD;
    margin-top: 10px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #202846;
    text-align: center;
}

.description {
    padding-left: 102px;
    padding-bottom: 30px;
    width: 712px;
    height: fit-content;
}

.line {
    width: 712px;
    border-bottom: 3px solid #FFFFFF;
}

.star {
    padding-top: 17px;
    padding-left: 20px;
}

.detail {
    position: absolute;
    left: 1337px;
    top: 230px;
}

.card1:hover .star,
.card2:hover .star,
.card3:hover .star,
.card4:hover .star {
    fill: yellow;
}

footer {
    width: 100%;
    height: 90px;
    background-color: #202846;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    color: #EEECF1;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 87px;
}

.top {
    position: fixed;
    width: 101px;
    height: 101px;
    right: 150px;
    bottom: 100px;
}

.nav a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav a:hover {
    color: gold;
    transition: all 0.5s;
}

.nav a:active {
    font-size: 32px;
}